.description {
    padding: 5px;
    text-align: center;
    border : 0.5px groove;
}
.thumbs_with_description {
    border : 0.5px solid;
    margin : 2px;
}
.thumbsnail {
    width: 300px;
    height : 300px;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
}

.thumbs_with_description:hover span.text-content {
  opacity: 1;
}